# Нормализация окончаний строк
* text=auto

# Бинарные файлы
*.mp3 binary
*.mp4 binary
*.mov binary
*.avi binary
*.wav binary
*.ogg binary
*.flac binary
*.jpg binary
*.jpeg binary
*.png binary
*.gif binary
*.webp binary

